@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind doesn't cover custom scrollbars out of the box */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 10px;
  }
  
